h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  background-color: #f7f7f7;
}

body {
  border: 5px solid rgb(0, 0, 0);
}
h4 {
  font-family: sans-serif;
  font-size: 20px;
}

.shipping {
  color: grey;
  text-transform: uppercase;
  font-size: 12px;
}

.dress {
  font-family: sans-serif;
  color: black;
}

.moreinformation:hover {
  text-decoration: none;
  color: black;
}

.Product-details {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

.Add-to-cart {
  font-family: sans-serif;
  background-color: black;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

.Add-to-cart:hover {
  background-color: white;
  color: black;
}
